<div class="card-container">
  <div class="card">TO - DO Bucket</div>
</div>
<div class="container">
  <input type="text" [formControl]="newItem" class="form-control item" placeholder="TO-DO Item" />
  <button class="btn btn-primary add-item" (click)="addItem()">ADD</button>
</div>

<div class="clearbtn-container">
  <div class="clearbtn">
    <button class="btn btn-warning" (click)="clearItems()">Clear</button>
  </div>
</div>
<div class="border border-warning rounded">
  <div class="list-items" *ngFor="let listItem of listItems">
    <div class="listItem">
      <div class="item-label">{{listItem.item}}</div>
      <div class="buttons">
        <button class="btn btn-secondary" (click)="editItem(listItem)">E</button>
        <button class="btn btn-danger"  (click)="deleteItem(listItem)">D</button>
      </div>
    </div>
  </div>
</div>
